<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
        <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 --></configSections>
  <!--
    For a description of web.config changes for .NET 4.5 see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <pages>
      <controls>
        <add tagPrefix="ItemUserControl" src="~/UserControl/Item/Answer.ascx" tagName="Answer" />
        <add tagPrefix="ItemUserControl" src="~/UserControl/Item/Class.ascx" tagName="Class" />
        <add tagPrefix="ItemUserControl" src="~/UserControl/Item/Course.ascx" tagName="Course" />
        <add tagPrefix="ItemUserControl" src="~/UserControl/Item/Credit.ascx" tagName="Credit" />
        <add tagPrefix="ItemUserControl" src="~/UserControl/Item/File.ascx" tagName="File" />
        <add tagPrefix="ItemUserControl" src="~/UserControl/Item/Friend.ascx" tagName="Friend" />
        <add tagPrefix="ItemUserControl" src="~/UserControl/Item/Group.ascx" tagName="Group" />
        <add tagPrefix="ItemUserControl" src="~/UserControl/Item/Message.ascx" tagName="Message" />
        <add tagPrefix="ItemUserControl" src="~/UserControl/Item/Payment.ascx" tagName="Payment" />
        <add tagPrefix="ItemUserControl" src="~/UserControl/Item/Profile.ascx" tagName="Profile" />
        <add tagPrefix="ItemUserControl" src="~/UserControl/Item/Question.ascx" tagName="Question" />
        <add tagPrefix="ItemUserControl" src="~/UserControl/Item/School.ascx" tagName="School" />
        <add tagPrefix="ItemUserControl" src="~/UserControl/Item/Service.ascx" tagName="Service" />
        <add tagPrefix="ItemUserControl" src="~/UserControl/Item/Source.ascx" tagName="Source" />
        <add tagPrefix="ItemUserControl" src="~/UserControl/Item/Topic.ascx" tagName="Topic" />
        <add tagPrefix="ItemUserControl" src="~/UserControl/Item/User.ascx" tagName="User" />

        <add tagPrefix="UserControl" src="~/UserControl/AnswerUserControl.ascx" tagName="Answer" />
        <add tagPrefix="UserControl" src="~/UserControl/AccountUserControl.ascx" tagName="Account" />
        <add tagPrefix="UserControl" src="~/UserControl/ClassUserControl.ascx" tagName="Class" />
        <add tagPrefix="UserControl" src="~/UserControl/CommunityUserControl.ascx" tagName="Community" />
        <add tagPrefix="UserControl" src="~/UserControl/ContactUserControl.ascx" tagName="Contact" />
        <add tagPrefix="UserControl" src="~/UserControl/CourseUserControl.ascx" tagName="Course" />
        <add tagPrefix="UserControl" src="~/UserControl/CreditUserControl.ascx" tagName="Credit" />
        <add tagPrefix="UserControl" src="~/UserControl/EducationalGroupUserControl.ascx" tagName="EducationalGroup" />
        <add tagPrefix="UserControl" src="~/UserControl/FileUserControl.ascx" tagName="File" />
        <add tagPrefix="UserControl" src="~/UserControl/FriendUserControl.ascx" tagName="Friend" />
        <add tagPrefix="UserControl" src="~/UserControl/GroupUserControl.ascx" tagName="Group" />
        <add tagPrefix="UserControl" src="~/UserControl/MessageUserControl.ascx" tagName="Message" />
        <add tagPrefix="UserControl" src="~/UserControl/PaymentUserControl.ascx" tagName="Payment" />
        <add tagPrefix="UserControl" src="~/UserControl/QuestionUserControl.ascx" tagName="Question" />
        <add tagPrefix="UserControl" src="~/UserControl/SchoolUserControl.ascx" tagName="School" />
        <add tagPrefix="UserControl" src="~/UserControl/ServiceUserControl.ascx" tagName="Service" />
        <add tagPrefix="UserControl" src="~/UserControl/ServiceUserControl.ascx" tagName="Service" />
        <add tagPrefix="UserControl" src="~/UserControl/SettingUserControl.ascx" tagName="Setting" />
        <add tagPrefix="UserControl" src="~/UserControl/SourceUserControl.ascx" tagName="Source" />
        <add tagPrefix="UserControl" src="~/UserControl/TimeLineUserControl.ascx" tagName="TimeLine" />
        <add tagPrefix="UserControl" src="~/UserControl/UserUserControl.ascx" tagName="User" />
      </controls>
    </pages>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5.1" />
  </system.web>
  <connectionStrings>
    <add name="GoldoonContext" connectionString="Data Source=.\SQL2014;Initial Catalog=ELearning;Integrated Security=SSPI;" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>