@model PagedSearchViewModel<Goldoon.Models.Basic.SchedulerStatus>

<h5 class="row-title"><i class="typcn typcn-th-small"></i>مدیریت @ViewBag.Title</h5>
<div class="row">
    <div class="col-md-12">
        <div class="basictab-container">
            <div class="basictab-header row">
                <div class="col-lg-12 col-sm-12 col-xs-12">
                    <div class="row">
                        <div class="widget">
                            <div class="widget-header bordered-bottom bordered-themeprimary">
                                <span class="widget-caption themeprimary">@ViewBag.Title</span>
                            </div>
                            <div id="Div_SchedulerStatuss">

                            @Html.Partial("_SchedulerStatuss",Model)
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts
{
    <script src="~/Theme/assets/js/jqueryval/jquery.validate.min.js"></script>
    
}


<script>
    ///SchedulerStatusMember/Index?sortColumn=Id&sortDirection=Ascending&pageIndex=1

    function Page(name, extendedUrl) {
        var SelectedSchedulerStatusId = $("#selectedSchedulerStatusId").val();
        var selectedSchedulerStatus = { Id: SelectedSchedulerStatusId };
        var divName = "#Div_" + name + "s";
        $.ajax({
            contentType: 'application/json',
            data: JSON.stringify(selectedSchedulerStatus),
            method: 'Post',
            url: extendedUrl,
            success: function (result) {
                $(divName).html(result);
            },
            error: function (xhr) {
                try {
                    var json = $.parseJSON(xhr.responseText);
                    toastr.error(json.errorMessage, "", "");
                }
                catch (e) {
                    toastr.error("عملیات با خطا متوقف شد", "", "");
                }
            }
        });
    }
</script>